body,
html {
  height: 100%;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
.bgimg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/wembley.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100%;
}
.text-white {
  color: white;
}
.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-size: 64px;
}
hr {
  margin: auto;
  width: 40%;
  border-color: #fff;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  font-size: 15px;
  line-height: 1.5;
}
p {
  text-align: center;
  font-size: 18px;
}
