*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-size: 112.5%;
  line-height: 1.4;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  flex: 1 0 auto;
}

.main__image-container {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding: 1rem 0;

  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;
}

.who-we-are {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/wembley-1.jpg");
}
.membership {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/wembley-2.jpg");
}
.wembeerly {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/wembley-3.jpg");
}

.main__text {
  width: 100%;
}

.main__image {
  max-width: 100%;
}

.main h1 {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 1px solid #be1522;
}
.main__text p {
  color: #000;
  font-size: 1rem;
}

.footer {
  background-color: #000;
  padding: 1rem 3rem;
  width: 100%;
  flex-shrink: 0;
}
.footer__container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}
.footer__container h3 {
  color: #fff;
  text-transform: uppercase;
}
.footer a {
  color: #fff;
  font-size: 0.8rem;
}
.footer__email {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.footer__email .footer__image {
  margin-right: 1rem;
}
.footer__images {
  display: flex;
  justify-content: space-between;
}
.footer__image {
  width: 32px;
  height: 32px;
}

.block__109 {
  color: #be1522;
}

.privacy h4 {
  font-size: 1rem;
}
.privacy p {
  font-size: 0.6rem;
}

@media screen and (max-width: 57rem) {
  .iframe-container {
    padding-top: 150%;
  }
  .container {
    min-height: 100vh;
  }
  .main__image-container {
    margin: 1.5rem 0;
    min-height: 250px;
  }
  .main h1 {
    font-size: 2.6rem;
    padding: 0.5rem 0;
  }
  .main h1.smaller {
    font-size: 2.2rem;
  }
  .footer {
    padding: 1rem;
    position: unset;
  }
  .footer__container {
    flex-direction: column;
    padding: 0;
  }
  .footer__container h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .footer__container p {
    margin-top: 0.5rem;
  }
  .footer__images {
    justify-content: flex-start;
  }
  .footer__image {
    margin-right: 1rem;
  }
}
